.row
  .col.s12.m6
    .card.blue-.yellow.lighten-5
      .card-content.gray-text
        %span.card-title<
          = post.title
        %p<
          = post.body
      .btns
        .card-action
          %a{href: "#"}<
            SHOW
        .card-action
          %a{href: "#"}<
            EDIT
        .card-action
          %a{href: "#"}<
            DESTORY
