.row
  .col.s12.m6
    .card.blue-.yellow.lighten-5
      .card-content.gray-text
        %span.card-title<
          = post.title
        %div
          = simple_format(post.body)
        %span.sender-name
          = post.user_id
      .btns
        .card-action
          %a{href: "#"}<
            詳細
        .card-action
          %a{href: "#"}<
            編集
        .card-action
          %a{href: "#"}<
            削除
