.row
  .col.s12.m6
    .card.blue-.yellow.lighten-5
      .card-content.gray-text
        %span.card-title<
          = post.title
        %p<
          = post.body
      .btns
        .card-action
          %a{href: "#"}<
            詳細
        .card-action
          %a{href: "#"}<
            編集
        .card-action
          %a{href: "#"}<
            削除
