.wrapper
  = render partial: "header"

  .body.yellow.transparent
    .row
      .col.s12.m6
        .card.blue-.yellow.lighten-5
          .card-content.gray-text
            %span.card-title<
              投稿が完了しました
          -#   %div
          -#     = simple_format(post.body)
          -#   %span.sender-name
          -#     = post.user_id
          .btns
            .card-action
              %a{href: "/posts"}<
                投稿一覧に戻る
            -# .card-action
            -#   %a{href: "#"}<
            -#     編集
            -# .card-action
            -#   %a{href: "#"}<
            -#     削除
