.wrapper
  .header
    = render partial: "header"
  .body.accent-2.transparent
    .row
      .col.s12.m6
        .card.teal.lighten-5.lighten-5
          .card-content.gray-text
            %h3<
              投稿を削除しました
            %a.btn.red.lighten-2{href: "/"}
              投稿一覧へ戻る
