.wrapper
  = render partial: "header"
  .body.yellow.transparent
    - @posts.each do |post|
      = render partial: "post", locals: { post: post}
    .row
      .col.s12.m6
        = paginate(@posts)
