.wrapper
  .header
    %nav
      .nav-wrapper.yellow.darken-4
        %a.brand-logo{href: root_path}<
          Blog
        %ul.right.hide-on-med-and-down#nav-mobile
          - if user_signed_in?
            %li<
              = link_to "Go Top", root_path
  .body.yellow.transparent
    .row
      .col.s12.m6
        .card.yellow.lighten-5
          .card-content.gray-text
            %h3
              更新が完了しました
            %a.btns{href: "/"}
              投稿一覧へ戻る
