.wrapper
  .header
    = render partial: "header"
    -# %nav
    -#   .nav-wrapper.teal.lighten-5.accent-2
    -#     %a.brand-logo{href: root_path}<
    -#       Blog
    -#     %ul.right.hide-on-med-and-down#nav-mobile
    -#       - if user_signed_in?
    -#         %li<
    -#           = link_to "Go Top", root_path
  .body.yellow.transparent
    .row
      .col.s12.m6
        .card.teal.lighten-5.accent-2.lighten-5
          .card-content.gray-text
            %h3
              更新が完了しました
            %a.btns{href: "/"}
              投稿一覧へ戻る
